.md-header{
    background-color: #D71600; /*#275e8e;*/
}

.md-grid{
    max-width: initial;
}

@media screen and (min-width: 790px) {
    .md-grid{
        max-width: 90%;
    }

    .md-sidebar{
        width: auto;
    } 
}

/* Fix padding Chrome browsers */
@supports selector(::-webkit-scrollbar) {
    .md-sidebar__scrollwrap {
        scrollbar-gutter: auto
    }

    [dir=ltr] .md-sidebar__inner {
        padding-right: 0;
    }

    [dir=rtl] .md-sidebar__inner {
        padding-left: calc(90% - 11.5rem)
    }
}

/* Fix inconsistent titles */
.md-ellipsis {
    text-transform: capitalize
}
